* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #6b6b6b;
}

.all-father {
  width: 100%;
  min-height: 100%;

  color: #2b2b2b;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  position: relative;
}

.main-wrapper {
  width: 100%;
  margin-top: 10%;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-wrapper {
  width: 100%;
  padding: 24px;
  margin-top: 40px;

  display: block;
  align-items: center;
  justify-content: center;
}

.door {
  width: 17.5%;
  height: 40vh;
  cursor: pointer;
  border: solid 1px black;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  body {
    font-size: 0.9em;
  }

  .main-wrapper {
    margin-top: 10em;
  }

  .door {
    height: 20vh;
  }
}

#text {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.door:hover {
  box-shadow: 0 0 15px blue;
}

#door_1 {
  background-color: green;
}

#door_2 {
  background-color: yellow;
}

#door_3 {
  background-color: red;
}

.door-chosen {
  box-shadow: 0 0 30px blue;
}

.door-chosen:hover {
  box-shadow: 0 0 30px blue;
}

.count-wrapper {
  padding: 12px;
  position: absolute;
  left: 0;
  top: 0;
}

.button-holder {
  width: 40%;
  justify-self: flex-end;
  margin-bottom: 24px;

  display: inline-flex;
  flex-direction: column;
}

.no-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 12px;
  margin-top: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  width: 100%;
  border: solid 1px black;

  transition: all 0.2s;
}

.button:hover {
  box-shadow: 0 0 20px navy;
  color: navy;
}
